NODE_ENV=XXXXX
APP_PORT=XXXXX
APP_FORWARD_PORT=XXXXX

# Github Credentials
GITHUB_APP_ID=XXXXX
GITHUB_WEBHOOK_SECRET=XXXXX
GITHUB_CLIENT_ID=XXXXX
GITHUB_CLIENT_SECRET=XXXXX
GITHUB_APP_PRIVATE_KEY=XXXXX

# DB Credentials
DB_HOST=XXXXX
DB_PORT=XXXXX
DB_USER=XXXXX
DB_PASSWORD=XXXXX
DB_DATABASE=XXXXX
DB_FORWARD_PORT=XXXXX

#Pg Admin credentials
PGADMIN_FORWARD_PORT=XXXXX
PGADMIN_DEFAULT_EMAIL=XXXXXXXXXXXX
PGADMIN_DEFAULT_PASSWORD=XXXXX

#Redis Credentials
REDIS_HOST=XXXXX
REDIS_PORT=XXXXX